fastapi
uvicorn
gunicorn
PyMuPDF
pydantic
reportlab
transformers
torch
sentencepiece
regex
python-multipart
pdf2image
Pillow
git+https://github.com/PrithivirajDamodaran/Gramformer.git
setuptools>=42
wheel
PyPDF2
