fastapi
uvicorn
gunicorn

PyMuPDF
pydantic
reportlab

transformers
torch
sentencepiece
regex

python-multipart
pdf2image
Pillow

# Gramformer (Grammar correction model)
git+https://github.com/PrithivirajDamodaran/Gramformer.git
spacy==3.7.1  # Match model version
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
setuptools>=42
wheel

PyPDF2
